/* @font-face {
  font-family: "Stick No Bills";
  src: url("src/assets/fonts/StickNoBills-Light.woff2") format("woff2"),
    url("StickNoBills-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("src/assets/fonts/StickNoBills-ExtraBold.woff2") format("woff2"),
    url("StickNoBills-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("src/assets/fonts/StickNoBills-Bold.woff2") format("woff2"),
    url("StickNoBills-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("src/assets/fonts/StickNoBills-ExtraLight.woff2") format("woff2"),
    url("StickNoBills-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("src/assets/fonts/StickNoBills-Regular.woff2") format("woff2"),
    url("StickNoBills-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("src/assets/fonts/StickNoBills-SemiBold.woff2") format("woff2"),
    url("StickNoBills-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stick No Bills";
  src: url("src/assets/fonts/StickNoBills-Medium.woff2") format("woff2"),
    url("StickNoBills-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Cinzel Decorative";
  src: url("src/assets/fonts/CinzelDecorative-Regular.woff2") format("woff2"),
    url("CinzelDecorative-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("src/assets/fonts/CinzelDecorative-Bold.woff2") format("woff2"),
    url("CinzelDecorative-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("src/assets/fonts/CinzelDecorative-Black.woff2") format("woff2"),
    url("CinzelDecorative-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */




body {
  /* background-image: linear-gradient(217deg, rgba(245, 237, 237, 0.8), rgba(240, 236, 236, 0.8)), url("src/assets/images/bg-4.jpg"); */
  background-repeat: repeat;
  font-family: "Cinzel Decorative", Arial, Helvetica, sans-serif;
}

.book {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.book:hover {
  box-shadow: 1px 1px 15px 8px rgba(179, 179, 179, 0.3);
}

.book__language {
  font-family: "Stick No Bills";
}

.book__year {
  font-family: "Stick No Bills";
}

.book__pages {
  font-family: "Stick No Bills";
}


@media only screen and (min-width:576px) {
  .collapse:not(.show) {
    display: block;
  }
}